*{
    overflow: hidden;
    box-sizing: border-box;
}

body {
    background: #f2f2f2;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    
}

.converter {
    background: #fff;
    padding: 25px;
    width: 520px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.3);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

select, input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 5px;
    border: 1px solid #ddd;
}

button {
    width: 100%;
    padding: 10px;
    background: #007bff;
    border-radius: 10px;
    border: none;
    color:#fff;
    font-size: 16px;
}

p {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    padding-top: 10px;
}